@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Cairo", sans-serif;
}

body {
  direction: rtl;
  text-align: right;
}

html,
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(244, 239, 227);
  background-image: url("../images/hero_bg_3_1.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

:root {
  --main-color: #ff6a03;
  --bg-color: #fff;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ================================================================================================================= */
/* Navbar */
.box-navbar {
  background-color: var(--bg-color);
  /* background-color: #eeee; */
  padding-top: 16px;
  padding-bottom: 16px;
  /* box-shadow: 0 2px 10px 0 rgba(82, 82, 82, 0.1); */

  /* -------- */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  background-color: rgb(0, 0, 0,.3);
  transition: all 0.5s;

  /* background-color: rgb(22, 22, 22, 0.9); */
  background-image: url(../images/hero_bg_3_1.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

.nav-sticky {
  box-shadow: 0 2px 10px 0 rgba(82, 82, 82, 0.1);
  background-color: #fff;
}

.logo-navbar {
  display: inline-block;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  /* ---------------- */
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  background-clip: text;
  color: transparent;

  width: 140px;
}

.logo-navbar img {
  /* display: block; */
  width: 100%;
  /* height: 100px; */
  transition: all 0.2s;
}

.logo-nav-dark {
  display: none;
}

.logo-nav-Light {
  display: block;
}

.nav-sticky .logo-nav-Light {
  display: none;
}

.nav-sticky .logo-nav-dark {
  display: block;
}

.btn-navbar-toggler {
  border: none;
  font-size: 1.6rem;
  display: none;
  color: #e6ebed;
}

.btn-navbar-toggler:hover {
  color: #e6ebed;
}

.nav-sticky .btn-navbar-toggler {
  color: #4a4a4a;
}

.nav-sticky .btn-navbar-toggler:hover {
  color: #4a4a4a;
}

.box-kol-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-item-nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.item-nav-link {
  display: block;
  /* padding: 10px 20px; */
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  line-height: 1;
  transition: all 0.5s;
}

.nav-sticky .item-nav-link {
  color: #4a4a4a;
}

.nav-sticky .item-nav-link:hover {
  /* color: #4a4a4a; */
  color: var(--main-color);
  opacity: 0.9;
}

.nav-sticky .item-nav-link.active {
  /* color: #4a4a4a; */
  color: var(--main-color);
  opacity: 0.9;
}

.item-nav-link:hover {
  /* color: #e6ebed; */
  color: var(--main-color);

  opacity: 0.9;
  /* border-bottom: 1px solid var(--main-color); */
}

.item-nav-link.active {
  /* color: #e6ebed; */
  color: var(--main-color);
  opacity: 0.9;
}

.box-close-nav-Logo {
  display: none;
}

.btn-close-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(165, 165, 165, 0.5);
  border-radius: 50%;
  color: #000;
}

.btn-close-nav:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

.box-layer-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

/* ------------------------ */
.box-layer-screen.visible {
  opacity: 1;
  visibility: visible;
}

.ms-me-auto {
  margin-right: auto;
  margin-left: 0;
}

.btn-nav {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  line-height: 1;

  display: inline-block;
  padding: 10px;
  margin: 0 3px;
  transition: all 0.3s;
  border-radius: 0px;
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px #fff; */
}

.btn-nav:hover {
  opacity: 0.7;
  background-color: var(--main-color);
  color: #fff;
}

.nav-sticky .btn-nav {
  color: #4a4a4a;
}

.nav-sticky .btn-nav:hover {
  opacity: 0.7;
  background-color: var(--main-color);
  color: #fff;
}

.box-icons-nav ul {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .box-item-nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
  }

  .box-navbar-nav {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: -100%;
    left: auto;
    height: 100vh;
    width: 300px;
    padding: 1.2rem 2rem;
    z-index: 30;
    transition: all 1s;
  }

  .box-navbar-nav.active {
    right: 0;
    left: auto;
  }

  .btn-navbar-toggler {
    display: flex;
  }

  .box-close-nav-Logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* ===================================================================== */
.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  max-height: 1000px;
}

.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: #000000;
  opacity: 0.7;
}

.video-hero--content {
  position: relative;
  text-align: center;
  color: #fff;
  /* margin: 150px 0; */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link-heder {
  font-size: 18px;
  padding: 12px 32px;
  background-color: var(--main-color) !important;
  color: #fff;
}

/* -------------------------- */
.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  /* margin-bottom: -7px; */
  min-height: 100px;
  max-height: 150px;
}

.waves.waves-sm {
  height: 50px;
  min-height: 50px;
}

.waves.no-animation .moving-waves > use {
  animation: none;
}

.wave-rotate {
  transform: rotate(180deg);
}

.moving-waves > use {
  animation: f 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.moving-waves > use:first-child {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves > use:nth-child(5) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.moving-waves > use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s;
}

@keyframes f {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  to {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 767.98px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

/**/
.fadeIn1 {
  animation-duration: 1.5s;
}

.fadeIn2 {
  animation-duration: 1.75s;
}

.fadeIn3 {
  animation-duration: 2s;
}

.fadeIn4 {
  animation-duration: 2.25s;
}

.fadeIn5 {
  animation-duration: 2.5s;
}

.fadeIn1,
.fadeIn2,
.fadeIn3,
.fadeIn4,
.fadeIn5 {
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: h;
}

@keyframes h {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
  }
}

.floating-man {
  width: 350px;
}

/* ----------------------- */
.video-hero--content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
}

.dec-header {
  font-size: 24px;
  margin-bottom: 2rem;
}
.box-Quick-links li {
  margin: 1rem 0;
}

/* =============================================================================================== */
.box-Brief h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  font-weight: 700;
}

.link-View-All-Products {
  color: #fff;
  background-color: #198754;
  padding: 12px 48px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 2rem auto 0;
}

.box-Products h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
}

.box-img-Product {
  height: 260px;
}

.box-img-Product img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

.box-Brief img {
  /* height: 600px; */
  object-fit: cover;
}

.box-Brief p {
  font-size: 18px;
}
.box-Brief p span {
  color: var(--main-color);
  font-weight: 700;
}

.box-Offers-label {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 9;
}

.box-Offers-label .new {
  background-color: #3bb77e;
}

.box-Offers-label .sale {
  background-color: #67bcee;
}

.box-Offers-label span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}

/* =================================================================================================== */
.counter-top-area {
  background: url(/assets/images/factory.jpg) no-repeat scroll 0 0;
  background-attachment: fixed;
  transition: all 0.3s ease 0s;
  background-size: cover;
  background-position: center center;
  padding-top: 90px;
  position: relative;
}

.counter-top-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(0, 171, 85,0.8); */
  background: linear-gradient(
    130deg,
    rgba(25, 135, 84, 0.6) 0%,
    rgb(25, 135, 84, 0.9) 50%
  );

  width: 100%;
  height: 100%;
}

.counter-top-area .sec-title {
  color: #fff !important;
  position: relative;
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin-bottom: 50px;
  text-align: center;
}

.counter-top-area .sec-title h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.counter-top-area .rs-counter-list {
  text-align: center;
  padding: 30px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.counter-top-area .rs-counter-list:before {
  position: absolute;
  content: "";
  background: transparent;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  transition: all 0.3s ease 0s;
}

.counter-top-area .rs-counter-list i {
  /* color: #00ab55; */
  color: #f1f1f1;
  font-size: 3rem;
}

.counter-top-area h2.percent {
  position: relative;
}

.counter-top-area h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  color: #f1f1f1;
  margin-top: 10px !important;
  margin-bottom: 8px !important;
}

.counter-top-area h2.percent:after {
  content: "%";
}

.counter-top-area .title {
  font-weight: 400;
  color: #cccccc;
  font-weight: 500;
  font-size: 15px !important;
  margin: 0;
}

.counter-top-area .rs-counter-list:after {
  position: absolute;
  content: "";
  background: transparent;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  transition: all 0.3s ease 0s;
}

.indexabout {
  margin-bottom: 50px;
  position: relative;
  color: #fff;
  /* background-color: rgba(0, 120, 76, 0.8); */
  padding: 20px 0;
  font-size: 0.92rem;
}

.al-alamin3-img {
  /* opacity: 0.9; */
  height: 240px;
  /* object-fit: cover; */
  border: solid 10px #fff;
  /* box-shadow: 10px 10px 10px #fff; */
  border-radius: 2px;
}

.counter-top-area .rs-counter-list:hover:before {
  width: 100%;
  height: 100%;
}

.counter-top-area .rs-counter-list:hover::after {
  width: 100%;
  height: 100%;
}

/* ========================================== */
#footer {
  /* background-color: var(--dark); */
  position: relative;
  color: #e6ebed;
  /* background: rgba(25, 135, 84, .8); */
  background-color: #4a4a4a;
}

#footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url(/assets/images/factory.jpg) no-repeat scroll 0 0; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

#footer .footerwaves {
  transform: rotate(180deg);
}

.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  /* margin-bottom: -7px; */
  min-height: 100px;
  max-height: 150px;
}

@media (max-width: 767.98px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

#topfooter {
  padding: 25px 0;
  padding-top: 150px;
  font-size: 1rem;
}

.footerimages {
  /* margin-top: 1rem; */

  display: flex;
  align-items: center;
  gap: 10px;
}

.footerimages img {
  margin-top: 1rem;
  /* margin-inline-end: 1rem; */
}
.footerimages .img-suadi-bussiness {
  width: 80px;
}

.footerimages .img-qr_code {
  width: 80px;
}
.footerimages .img-iso {
  width: 100px;
}
.footerimages .img-Saudi_Made {
  width: 100px;
}
.footerimages .img-Max-Flix {
  width: 100px;
}
#topfooter h4 {
  font-size: 1.5rem;
  color: #fff;
}

#topfooter ul {
  list-style: none;
  padding: 0;
  margin: 20px 10px;
}

#topfooter ul a {
  display: block;
  font-size: 0.9rem;
  color: #e6ebed;
  margin: 8px 0;
  transition: all 0.4s;
}

#topfooter h4 {
  font-size: 1.5rem;
  color: #fff;
}

#topfooter ul {
  list-style: none;
  padding: 0;
  margin: 20px 10px;
}

#topfooter ul a {
  display: block;
  font-size: 0.9rem;
  color: #e6ebed;
  margin: 8px 0;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  gap: 8px;
}

#footersocialmedia {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

#footersocialmedia a {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  color: #fff;
  transition: all 0.3s;
  background-color: #ffffff;
  color: var(--main-color);
}

#footersocialmedia i {
  font-size: 1.1rem;
}

#copyrights {
  padding: 20px 0;
  /* border-top: 2px dashed rgba(188, 251, 191, 0.2); */
  opacity: 0.7;
  font-size: 1rem;
}

#copyrights a {
  color: #fff;
}

.p-Made-with {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

p.p-Made-with img {
  width: 90px;
  display: block;
}

.pc- {
  display: block;
  /* width: 100px; */
  /* text-align: end; */
  /* border-right:1px solid #0ff ; */
  /* padding: 1rem 0; */
}

.mo- {
  display: none;
}

.box-social-media ul {
  display: flex;
  gap: 10px;
}
.box-vat {
  display: flex;
  align-items: center;
}
.box-vat img {
  width: 50px;
}
.box-vat ul li {
  font-size: 13px;
  margin-bottom: 0.2rem;
}
/* ======================================================================================================== */
/* page About */

.box-header-page-sub {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  max-height: 1000px;
}

.box-header-page-sub-Product-details {
  height: 50vh;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* background-color: #000000; */
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.7) 20%, rgb(0, 0, 0) 80%);

  /* opacity: 0.7; */
}

.img-header {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 0;
  left: 0;

  object-fit: cover;
  /* transform: translate(-50%, -50%) scale(1); */
  /* animation-name: img-header; */
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes img-header {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.box-hero--content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box-hero--content h1 {
  font-size: 3rem;
}

.box-img-ABOUT {
  width: 100%;
  height: 60vh;
}

.box-img-ABOUT img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Product details */
.item-news {
  position: relative;
  background-color: #fff;
  /* border: 1px solid #ececec; */
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s;
  display: block;
  padding: 12px;
  /* text-align: center; */
}

.item-news h2 {
  color: #4a4a4a;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item-news p {
  color: #868686;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-img-news {
  height: 300px;
}

.box-img-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-contacts {
  border: 1px solid #ececec;
  padding: 18px;
  border-radius: 5px;
  /* text-align: center; */
  /* justify-content: center; */
  color: var(--main-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem 1rem;
}

.item-contacts p {
  margin: 0;
}

.item-contacts .icon {
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiperCategory {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* .box-arrow-next-prev {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 34px;
  right: 16px;
  left: auto;
} */
.box-arrow-next-prev .swiper-button-next,
.box-arrow-next-prev .swiper-button-prev {
  /* position: static; */

  /* background-color: #dfdfdf; */
}
.box-arrow-next-prev .swiper-button-prev {
  right: -40px;
  left: auto;
  border: none !important;
}

.box-arrow-next-prev .swiper-button-next {
  left: -40px;
  right: auto;
  border: none !important;
}
.box-arrow-next-prev .swiper-button-prev::before {
  mask-image: url(../../assets/images/circle.svg);
  mask-size: 100% 100%;
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-color);
}
.box-arrow-next-prev .swiper-button-next::before {
  mask-image: url(../images/circle.svg);
  mask-size: 100% 100%;
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transform: rotate(180deg);
}

.swiper-button-next:after {
  font-size: 18px;
  position: absolute;
  /* top: 39%; */
  /* transform: translateY(-50%); */
  /* left: 0; */
  background-color: var(--main-color);
  mask-image: url(../images/arrow.svg);
  mask-size: 100% 100%;
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
  left: 28px;
  top: 0;
  transition: all 0.4s;
}

.box-arrow-next-prev .swiper-button-next:hover:after {
  /* background-color: #000; */
  left: 15px;
}

.swiper-button-prev:after {
  /* font-size: 18px;
  position: absolute;
  top: 39%;

  background-color: var(--main-color);
  mask-image: url(../images/arrow.svg);
   width: 60px; */

  font-size: 18px;
  position: absolute;
  /* top: 39%; */
  /* transform: translateY(-50%); */
  /* left: 0; */
  background-color: var(--main-color);
  mask-image: url(../images/arrow.svg);
  mask-size: 100% 100%;
  width: 60px;
  height: 60px;
  /* transform: rotate(180deg); */
  right: 28px;
  top: 0;
  transition: all 0.4s;
}

.box-arrow-next-prev .swiper-button-prev:hover:after {
  /* background-color: #000; */
  right: 15px;
}
/* ---------------------------------- */
.box-pagination-blog {
  border-top: solid 1px #e1e5eb;
  margin-top: 1.6rem;
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-pagination-blog nav {
  margin-top: 1.6rem;
  /* padding-top: 2rem; */
}

.box-pagination-blog .page-link {
  border: none;
  color: #12171f;
  font-size: 18px;
  font-weight: 500;
}

.box-pagination-blog .dots {
  display: block;
  padding-top: 0.5rem;
}

.box-pagination-blog nav .pagination {
  gap: 16px;
}

.btn-page-link {
  border: solid 1px #e1e5eb;
  border-radius: 4px;
  color: #12171f;
  width: 34px;
  height: 34px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.btn-page-link span {
  display: flex;
}

.log-ffoter {
  width: 200px;
  margin-bottom: 1.4rem;
}

/* ---------------------------------------------- */

/* ============================================================ */
/* New */
.box-item-category {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 0 5px 23px 5px;
  height: 100%;
}
.box-item-category :before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-radius: 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    to(#ffffff)
  );
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
  z-index: -1;
}

.box-item-category .item-img-category {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.box-item-category .item-img-category:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 56px);
  width: 112px;
  height: 21px;
  background: #000000;
  -webkit-filter: blur(18px);
  filter: blur(18px);
  z-index: -1;
}

.category-box .item-title-category {
  font-size: 22px;
  margin-bottom: 0px;
}

.item-title-category a {
  color: var(--main-color);
  /* font-size: 20px; */
}

.item-title-category {
  font-size: 24px;
  line-height: 1.417;
  margin-top: -0.35em;
}
.box-titel {
  /* text-align: center; */
  /* padding-bottom: 1.4rem; */
}
.item-title-category h3 {
  font-size: 1.4rem;
}

.box-img-product {
  background-color: #fff;
  padding: 50px 35px;
}
.box-img-product img {
  width: 100%;
}

.box-text-product {
  padding: 1rem;
  text-align: center;
}
.box-text-product ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box-text-product ul li {
  color: #ffb539;
}

.box-text-product h3 a {
  font-size: 20px;
  margin-top: 0.6rem;
  /* margin-bottom: 0.6rem; */

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4a4a4a;
}

.box-text-product .link-Order-now {
  border: solid 1px var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 48px;
  margin-top: 1rem;
  background-color: var(--main-color);
}

.box-titel h2 {
  padding-bottom: 1rem;
}
.box-titel .line {
  background-color: var(--main-color);
  bottom: 0px;
  height: 1px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  margin: 0 0 24px;
}
.box-titel .line::after,
.box-titel .line::before {
  background-color: var(--main-color);
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.box-titel .line::after,
.box-titel .line::before {
  background-color: var(--main-color);
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.box-titel .line::after {
  left: 78px;
}
.box-titel .line::before {
  left: 64px;
}

.box-titel .line span::before {
  right: 64px;
}
.box-titel .line span::after,
.box-titel .line span::before {
  background-color: var(--main-color);
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.box-titel .line span::after {
  right: 78px;
}

.Kingdom-Kitchen {
  color: var(--main-color);
}
/* ==================================================================== */
.box-Discover-authentic-taste {
}
.box-Discover-authentic-taste h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  font-weight: 700;
}

.box-Discover-authentic-taste p {
  font-size: 18px;
}

.box-items-Discover-authentic h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #12171f;
  margin-bottom: 0;
}
.box-items-Discover-authentic p {
  font-size: 1rem;
  color: #777;
}
.box-items-Discover-authentic ul {
  margin-top: 2rem;
}
.box-items-Discover-authentic ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;
}
.box-items-Discover-authentic ul li .icon i {
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.box-Discover-authentic-taste {
  background-color: #fff;
  background-image: url("../images/hero_bg_3_1.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.img-box6 {
  /* margin: 0 50px; */
  position: relative;
  z-index: 2;
  padding: 50px;
  text-align: center;
}
.img-box6:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 130px);
  height: 100%;
  width: 260px;
  background-color: var(--main-color);
  z-index: -1;
}

.img-box6 {
  height: 100%;
}
.img-box6 .shape1 {
  position: absolute;
  left: -80px;
  top: 10px;
  -webkit-animation: jumpReverseAni 7s linear infinite;
  animation: jumpReverseAni 7s linear infinite;
}

.box-img-Discover-authentic-taste {
  /* position: relative; */
}
.img-box6 .img1 {
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 30px;
  height: 100%;
}

.img-box6 .img1 img {
  width: 100%;
  border-radius: inherit;
  position: relative;
  z-index: 3;
  transform: translate3d(0px, 0px, 0px); /* Initial state */
  transition: transform 0.1s ease; /* Smooth transition */
}

/* ============================================================================================================================================= */
/* delivery */
.box-delivery {
  background-color: #f4efe3;
}

.box-img-delivery {
  transform: perspective(200.108px) rotateX(0deg) scale(1, 1);
}

.box-img-delivery .img-delivery {
  width: 100%;
  transform: rotateY(180deg);
}
.box-text-delivery p {
  font-size: 16px;
}
.box-text-delivery h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #12171f;
}
.box-text-delivery h3 {
  font-size: 20px;
  font-weight: 700;
}

.box-item-delivery p {
  font-size: 15px;
}
.box-item-delivery span {
  color: var(--main-color);
  font-size: 1.6rem;
}
.link-delivery {
  border: var(--main-color) solid 1px;
  color: #fff;
  padding: 10px 48px;
  background-color: var(--main-color);
  font-size: 18px;
}
/* ============================================================================================================================================= */
/* Menu */
.box-Menu {
  background-color: #fff;
  padding: 3rem 2rem;
  background-image: url("../images/hero_bg_3_1.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.item-Menu {
  display: flex;
  align-items: center;
  gap: 8px;
  /* box-shadow: 0px 0px 10px rgba(107, 64, 0,.5); */
  padding: 1rem;
  background-color: rgba(107, 64, 0, 0.1);
}
.box-img-menu {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.box-text-Menu {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.box-img-menu img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.box-text-Menu h3 {
  color: #12171f;
  font-size: 16px;
  margin-bottom: 0.1rem;
}

.box-text-Menu p {
  color: #777;
  font-size: 13px;
  margin: 0;
  margin-bottom: 0.3rem;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.item-Menu {
}

.link-Menu {
  /* background-color: var(--main-color); */
  color: #fff;
  margin-top: 4rem;
  /* padding: 2px 24px; */
  color: var(--main-color);
  text-decoration: underline;
  font-size: 14px;
}
.price-menu {
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
  min-width: max-content;
}
.price-menu span {
  font-size: 12px;
  color: var(--main-color);
}
.price-item {
  color: var(--main-color);
}
/* ============================================================= */
.box-features {
  background-color: rgb(22, 22, 22, 0.9);
  background-image: url("../images/hero_bg_3_1.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 8rem 0;
}

.item-features {
  display: flex;
  gap: 12px;
  /* padding: 5rem 0; */
  align-items: center;
}
.item-features span {
  font-size: 2rem;
  color: #fff;

  background-color: #1f1f1f;
  width: 80px;
  min-width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--main-color);
}
.item-features h3 {
  font-size: 1.6rem;
  color: #f1f1f1;
  color:var(--main-color);
}
.item-features p {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 0;
}

/* ============================================================================= */

.box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  gap: 24px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2"
    "grid-3 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5 grid-5"
    "grid-3 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5 grid-5"
    "grid-3 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5 grid-5"
    "grid-3 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5 grid-5"
    "grid-3 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4 grid-4 grid-5 grid-5 grid-5 grid-5";
}

.grid-1 {
  grid-area: grid-1;
}

.grid-2 {
  grid-area: grid-2;
}

.grid-3 {
  grid-area: grid-3;
}

.grid-5 {
  grid-area: grid-5;
}

.grid-4 {
  grid-area: grid-4;
}

.box-img-grid {
  height: 100%;
  position: relative;
}
.box-img-grid img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: brightness(40%);
}
.box-item-grid {
  border: solid 2px #fff;
  background-color: transparent;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
}
.box-item-grid h3 {
  color: #fff;
  font-size: 1.6rem;
}
.ling-grid {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 32px;
}

#topfooter p {
  width: 80%;
}
#copyrights {
  background-color: rgb(0, 0, 0, 0.5);
}
#copyrights p {
  margin: 0;
}
/* =============================================== */
.box-img-Product-details {
  background-color: #fff;
  padding: 32px;
}
.box-img-Product-details img {
  width: 100%;
}
.box-text-Product-details h2 {
  font-size: 2rem;
}
.box-text-Product-details p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}
.link-Product-details {
  background-color: var(--main-color);
  color: #fff;
  /* padding: 10px 32px; */
  width: 40%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.box-footer-bussiness-avt-pc{
  display: flex;
}
.box-footer-bussiness-avt-mo{
  display: none;
}
.btn-Mass-form{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0;
  padding: 10px 32px;
}
/* =============================================== */

@media screen and (max-width: 767px) {
  .box-arrow-next-prev .swiper-button-prev {
    right: 0;
    left: auto;
  }

  .box-arrow-next-prev .swiper-button-next {
    left: 0;
    right: auto;
  }
}

@media screen and (max-width: 992px) {
  .box-kol-navbar {
    /* align-items: flex-end; */
  }

  .pc- {
    display: none;
  }

  .mo- {
    display: block;
  }

  .item-nav-link {
    color: #4a4a4a;
  }

  .nav-sticky .item-nav-link {
    color: #4a4a4a;
  }

  .nav-sticky .item-nav-link:hover {
    color: #4a4a4a;
    opacity: 0.8;
  }

  .nav-sticky .item-nav-link.active {
    color: var(--main-color);
    opacity: 0.8;
  }
  .box-Brief-abut img {
    height: 400px;
    object-fit: cover;
  }

  .item-nav-link:hover {
    color: #4a4a4a;
    opacity: 0.8;
  }
  .item-Menu {
    align-items: flex-start;
  }

  .item-nav-link.active {
    color: var(--main-color);
    opacity: 0.8;
  }
  .box-navbar-nav {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .btn-nav {
    color: #fff;
    background-color: var(--main-color);
  }
  .box-footer-bussiness-avt-pc{
    display: none;
  }
  .box-footer-bussiness-avt-mo{
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .box-img-Product {
    height: 170px;
  }

  .box-Products h2 {
    font-size: 1.4rem;
  }

  .box-Products h3 {
    font-size: 1rem;
  }

  .link-View-All-Products {
    color: #fff;

    padding: 10px 32px;
    border-radius: 6px;
    font-size: 14px;
  }

  .jquery-background-video-wrapper {
    height: 60vh;
  }

  .video-hero--content h1 {
    font-size: 1.4rem;
  }

  .dec-header {
    font-size: 14px;
  }

  .link-heder {
    font-size: 16px;
    padding: 10px 24px;
  }

  .box-Brief h2 {
    font-size: 1.2rem;
  }

  .box-Brief p {
    font-size: 0.9rem;
  }

  .counter-top-area .sec-title h2 {
    font-size: 1.4rem;
  }

  .counter-top-area .sec-title p {
    font-size: 1rem;
  }

  .counter-top-area h2 {
    font-size: 2rem;
  }

  .counter-top-area .rs-counter-list i {
    font-size: 2rem;
  }

  .counter-top-area .rs-counter-list {
    padding: 24px;
  }

  .box-hero--content h1 {
    font-size: 1.4rem;
  }

  #topfooter {
    padding-top: 50px;
  }
  .footerimages {
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
  }
  .box-arrow-next-prev .swiper-button-prev::before,
  .box-arrow-next-prev .swiper-button-next::before {
    width: 40px;
    height: 40px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 40px;
    height: 40px;
  }
  .swiper-button-prev:after {
    right: 20px;
  }
  .swiper-button-next:after {
    left: 20px;
  }
  .box-Brief img {
    /* height: 300px; */
  }
  .shape1 img {
    width: 50%;
  }
  .box-header-page-sub {
    height: 44vh;
  }
  .img-box6 .img1 {
    padding: 10px;
  }
  .img-box6 {
    padding: 10px;
  }
  .item-features span {
    width: 60px;
    height: 60px;
    min-width: 60px;
    font-size: 1.4rem;
  }
  .item-features h3 {
    font-size: 1.2rem;
  }
  .item-features p,
  .box-text-delivery p {
    font-size: 0.9rem;
  }
  .box-features {
    padding: 4rem 1rem;
  }
  .box-text-delivery h2 {
    font-size: 1.4rem;
  }
  .box-text-delivery h3 {
    font-size: 1rem;
  }
  .box-item-delivery span {
    font-size: 1.4rem;
  }
  .box-titel h2 {
    font-size: 1.4rem;
  }
  .box-text-product h3 a {
    font-size: 1rem;
  }
  .box-text-product .link-Order-now {
    height: 40px;
  }
  .box-Discover-authentic-taste h2 {
    margin-bottom: 0;
  }
  .box-Discover-authentic-taste p {
    font-size: 1rem;
  }
  .box-items-Discover-authentic h3 {
    font-size: 0.9rem;
  }
  .box-items-Discover-authentic ul li .icon i {
    font-size: 1rem;
    width: 32px;
    height: 32px;
  }
  .box-items-Discover-authentic ul li {
    margin-bottom: 0.5rem;
  }
  .link-delivery {
    padding: 6px 32px;
  }
  .box-img-delivery {
    width: 80%;
    margin: auto;
  }
  .box-item-grid h3 {
    font-size: 1.2rem;
  }
  .ling-grid {
    padding: 6px 24px;
  }
  .box-img-product {
    padding: 20px;
  }

  .box-pagination-blog nav .pagination {
    gap: 6px;
  }
  .box-text-product ul li {
    font-size: 0.8rem;
  }
  .item-Menu {
    padding: 0.5rem;
  }
  .box-text-Menu {
    flex-direction: column;
  }
  .item-Menu {
    flex-direction: column;
  }
  .box-text-Menu p {
    display: none;
  }
  .box-text-Menu h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .box-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    gap: 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-1 "
      "grid-2"
      "grid-3"
      "grid-4"
      "grid-5";
  }
  .link-Product-details{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 66;
    width: 100%;
  }
  .link-Product-details {
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
  .log-ffoter {
    width: 180px;
  }
  
}


